$COLOR_MAIN: rgb(24, 24, 27);
$COLOR_WHITE: rgba(255, 255, 255, 1);
$GRADIENT_COLOR: linear-gradient(90deg, rgb(12, 186, 241) 0%, rgb(233, 92, 233) 100%);
$GRADIENT_COLOR-BORDER: linear-gradient(to right, rgb(12, 186, 241), rgb(233, 92, 233));